.carritoForm {
    margin-top: 20px;
    color: grey;
}

.carritoForm div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carritoForm label {
    margin-bottom: 5px;
}

.carritoForm input {
    margin-bottom: 10px;
    width: 250px;
}


.formLabel{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.formInput{
    display: flex;
    flex-direction: column;
}

.botonForm{
    margin-top: 15px;
}